.navbar {

position:fixed;
top:0;
background-color: transparent;
width:100%;
height: 90px;
padding-left:50px;

z-index:1;
}

.nav-options{
display: none;

}
.btn{
background-color: transparent;
border:2px solid #ef4f1f;
color: black;
height: 40px;
width: 100px;


font-size: 15px;
font-weight: 200px;
border-radius: 10px;
cursor: pointer;
transition: transform 0.3s ease;
}

.btn:hover{
background-color:  #ef4f1f;
transform:translateY(-3px);

}

.button-container{
margin-left: 12px;

}

.scrolling{

    background:rgb(8, 6, 5);
transition: all 0.25 ease;


}


.scrolling2{

color:white;


}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-logo{
   

padding-top: 7px;

color:white;
cursor:pointer;

display: inline-block;
position:absolute;



}
.mobile-option {
    display: none;
  }
.navbar-img{
   
  
    width: 130px;

 


 
    
    
    
    }

.navbar-elements{

 margin-left:20px;


color: white;
font-size: 19px;

cursor:pointer;




}
.navbar-elements2{
line-height: 100px;

display: flex;
 

   color: white;

   justify-content: center;
align-items: center;
text-align: center;


   
  
   
   
   }
   .menu-icon {
    width: 45px;
    height: 45px;
    cursor:pointer;
    justify-content: space-evenly;
  }
   .mobile-menu{
display:none;

   }
   @media screen and (max-width: 960px) {
    .navbar-elements{
display:none;
       
    }
       
       
       



    
       .mobile-menu {
        display: block;
        text-align: right;
      
   
       
      
      }
      /*Mobile View */
  .header {
    padding: 0px 10px;
  }
  
  .nav-options {
    display: flex;
    width: 100%;
    height: 330px;
    position: absolute;
    top: 85px;
    left: -100%;
    opacity: 0;

    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background:rgb(8, 6, 5);
    left: 0;
  color:orangered;
    opacity: 0.98;
    transition: all 0.5s ease;
    z-index: 1;
  
    align-content: center;
    padding-left: 0px;
  }


  .menu-icon {
    width: 45px;
    height: 45px;
    margin-top: 20px;
  margin-right: 10px;

 
  }
  .button-container{



  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    
    padding: 30px 0px;
  }
  .sign-up {
    background: rgb(222, 9, 241);
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }

  .navbar-elements2{
display: none;

  }
}

   
  